<%= form_with(model: invoice) do |form| %>
  <% if invoice.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= @invoice.errors.full_messages.first if @invoice.errors.any? %>
    <div class="d-flex justify-content-center row g-3">
      <div class="col-md-7 col-lg-8">
        <div class="row g-3">
                  <div class="form-check col-md-12">
                        <label class="form-label">Valor da Parcela:</label>
                        <br>
                  <%= form.text_field :invoice_amount   ,class:"form-control"%><br>
                  </div>
        </div>
        <div class="row g-3">
            <div class="form-check col-md-10">
                  <label class="form-label">Dia de Vencimento:</label>
                  <br>
                  <%= form.date_select :due_data, :order => [:day, :month, :year], class:"input-mini", start_year: 1922%><br>
            </div>
            <div class="col-md-2">
                  <label class="form-label">status:</label>
                  <br>
                  <%= form.select :status , ['aberta', 'paga'], class:"input-mini"%>
            </div>

        </div>
            <%= form.submit "Enviar" , class:"btn btn-dark enviar actions"%>
        <% end %>
      </div>
  </div>
 