<h1 class="text-center mt-5 mb-5">Dados do Boleto</h1>

<table class="table table-striped mx-auto w-75 table-active border border-dark" >
  <thead>
    <tr class="dark">
       <th class="text-center">Invoice amount</th>
       <th class="text-center">Due data</th>
       <th class="text-center">Status</th>
       <th class="text-center">Enrollment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
           <tr>
        <td class="text-center"><%= invoice.invoice_amount %></td>
        <td class="text-center"><%= invoice.due_data %></td>
        <td class="text-center"><%= invoice.status %></td>
        <td class="text-center"><%= invoice.enrollment_id %></td>
        <td class="text-center"><%= link_to 'Show', invoice %></td>
        <td class="text-center"><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td class="text-center"><%= button_to 'Delete', invoice_path(invoice), method: :delete, data: {confirm: "Are you sure?"} , class: "delete"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-dark voltar"><%= link_to 'Criar um novo Boleto', new_student_path %></button>
