<div class="container" >
      <div class="pt-10 mx-auto align-middle shadow show" style="width: 500px;">
        <h1 class="mb-5 ">Dados do Boleto</h1>
        <section class="grid">
          <div><p class="var">Valor da Parcela:</p></div>
          <div><p class="info"><%= @invoice.invoice_amount %></p></div>
          <div><p class="var">Data de Vencimento:</p></div>
          <div><p class="info"><%= @invoice.due_data %></p></div>
          <div><p class="var">Status do Boleto:</p></div>
          <div><p class="info"><%= @invoice.status %></p></div>
          <div><p class="var">ID da Matrícula:</p></div>
          <div><p class="info"><%= @invoice.enrollment_id %></p></div>
        </section>
        <button type="button" class="btn btn-dark voltar my-5"><%= link_to 'Editar', edit_invoice_path(@invoice) %></button>
        <button type="button" class="btn btn-dark voltar my-5"><%= link_to 'Voltar', invoices_path %></button>
      </div>
</div>
