
<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= @student.errors.full_messages.first if @student.errors.any? %>
    <div class="d-flex justify-content-center row g-3">
      <div class="col-md-7 col-lg-8">
      <div class="form-check col-12">
            <label class="form-label">Nome:</label>
        <%= form.text_field :name  ,class:"form-control"%><br>
      </div>

        <div class="form-check col-12">
            <label class="form-label">CPF:</label>
            <%= form.text_field :cpf  ,class:"form-control"%><br>
        </div>

      <div class="form-check col-12 field">
            <label class="form-label">Telefone:</label>
        <%= form.text_field :cellphone  ,class:"form-control"%><br>
      </div>

<div class="row g-3">
      <div class="form-check col-md-6">
            <label class="form-label">Data de Nascimento:</label>
            <br>
        <%= form.date_select :birth_date, :order => [:day, :month, :year], class:"input-mini", start_year: 1922%><br>
      </div>

      <div class="col-md-3">
              <label class="form-label">Genêro:</label>
              <br>
                 <%= form.select :gender, ['Masculino', 'Feminino'], class:"input-mini"%>
            </div>

            <div class="col-md-3">
              <label class="form-label">Metódo de Pagamento:</label>
              <br>
                 <%= form.select :payment_method, ['Cartao', 'Boleto'], class:"input-mini"%>
            </div>

      </div>
            <%= form.submit "Enviar" , class:"btn btn-dark enviar actions"%>
        <% end %>
    
     </div>



</div>
