<h1 class="text-center mt-5 mb-5">Estudante</h1>

<table class="table table-striped mx-auto w-75 table-active border border-dark" >
  <thead>
    <tr class="dark">
      <th class="text-center">Nome</th>
      <th class="text-center">CPF</th>
      <th class="text-center">Data de Nascimento</th>
      <th class="text-center">Celular</th>
      <th class="text-center">Genêro</th>
      <th class="text-center">Metodo de pagagmento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td class="text-center"><%= student.cpf %></td>
        <td class="text-center"><%= student.name %></td>
        <td class="text-center"><%= student.birth_date %></td>
        <td class="text-center"><%= student.cellphone %></td>
        <td class="text-center"><%= student.gender %></td>
        <td class="text-center"><%= student.payment_method %></td>
        <td class="text-center"><%= link_to 'Show', student %></td>
        <td class="text-center"><%= link_to 'Edit', edit_student_path(student) %></td>
        <td class="text-center"><%= button_to 'Delete', student_path(student), method: :delete, data: {confirm: "Are you sure?"} , class: "delete"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-dark voltar"><%= link_to 'Criar um novo Estudante', new_student_path %></button>
