<div class="container" >
      <div class="pt-10 mx-auto align-middle shadow show" style="width: 500px;">
        <h1 class="mb-5 ">Dados do Aluno</h1>
        <section class="grid">
          <div><p class="var">Name:</p></div>
          <div><p class="info"><%= @student.name %></p></div>
          <div><p class="var">CPF:</p></div>
          <div><p class="info"><%= @student.cpf %></p></div>
          <div><p class="var">Celular:</p></div>
          <div><p class="info"><%= @student.cellphone %></p></div>
          <div><p class="var">Data de Nascimento:</p></div>
          <div><p class="info"><%= @student.birth_date %></p></div>
          <div><p class="var">Genêro:</p></div>
          <div><p class="info"><%= @student.gender %></p></div>
          <div><p class="var">Metódo de Pagamento:</p></div>
          <div><p class="info"><%= @student.payment_method %></p></div>
        </section>
        <button type="button" class="btn btn-dark voltar my-5"><%= link_to 'Editar', edit_student_path(@student) %></button>
        <button type="button" class="btn btn-dark voltar my-5"><%= link_to 'Voltar', students_path %></button>
      </div>
</div>
