<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
       <%= image_tag "logo.png" ,class:"bi mx-3"%>
        <span class="fs-4">Quero Educação</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to 'Estudantes', students_path, class:"nav-link headers text-white pl-5"%></li>
        <li class="nav-item"><%= link_to 'Instituição', instituions_path, class:"nav-link headers text-white pl-5"%></li>
        <li class="nav-item"><%= link_to 'Matrícula', enrollments_path, class:"nav-link headers text-white pl-5"%></li>
        <li class="nav-item"><%= link_to 'Boleto', invoices_path, class:"nav-link headers text-white pl-5"%></li>
      </ul>
</header>
