<%= form_with(model: enrollment) do |form| %>
  <% if enrollment.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% enrollment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= @enrollment.errors.full_messages.first if @enrollment.errors.any? %>
    <div class="d-flex justify-content-center row g-3">
      <div class="col-md-7 col-lg-8">
  <div class="row g-3">
            <div class="form-check col-md-4">
                  <label class="form-label">Valor Total:</label>
                  <br>
            <%= form.text_field :total_course_fee   ,class:"form-control"%><br>
            </div>
            <div class="col-md-4">
              <label class="form-label">Número de Parcelas:</label>
              <br>
              <%= form.text_field :number_invoice   ,class:"form-control"%><br>
            </div>

            <div class="col-md-4">
              <label class="form-label">Data de Vencimento:</label>
              <br>
              <%= form.text_field :expiration_day   ,class:"form-control"%><br>
            </div>

  </div>
  <div class="row g-3">
            <div class="form-check col-md-6">
                  <label class="form-label">Nome do Curso:</label>
                  <br>
            <%= form.text_field :name_course   ,class:"form-control"%><br>
            </div>
            <div class="col-md-3">
              <label class="form-label">CPF do Estudante:</label>
              <br>
              <%= form.collection_select :student_id, Student.order(:id), :id, :cpf, class:"input-mini"%>
            </div>
       

            <div class="col-md-3">
              <label class="form-label">Nome da Instituição:</label>
              <br>
              <%= form.collection_select :instituion_id, Instituion.order(:id), :id, :name %>
            </div>

  </div>
            <%= form.submit "Enviar" , class:"btn btn-dark enviar actions"%>
        <% end %>
    
</div>
 
