<h1 class="text-center mt-5 mb-5">Matrículas</h1>

<table class="table table-striped mx-auto w-75 table-active border border-dark" >
  <thead>
    <tr class="dark">
      <th class="text-center">Valor Total</th>
      <th class="text-center">Numero de parcelas</th>
      <th class="text-center">Data de Vencimento</th>
      <th class="text-center">Nome do Curso</th>
      <th class="text-center">Nome da Instituição</th>
      <th class="text-center">Nome do Estudante</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td class="text-center"><%= enrollment.total_course_fee %></td>
        <td class="text-center"><%= enrollment.number_invoice %></td>
        <td class="text-center"><%= enrollment.expiration_day %></td>
        <td class="text-center"><%= enrollment.name_course %></td>
        <td class="text-center"><%= enrollment.student.name %></td>
        <td class="text-center"><%= enrollment.instituion.name %></td>
        <td class="text-center"><%= link_to 'Show', enrollment %></td>
        <td class="text-center"><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td class="text-center"><%= button_to 'Delete', enrollment_path(enrollment), method: :delete, data: {confirm: "Are you sure?"} , class: "delete"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-dark voltar"><%= link_to 'Criar um nova Matrícula', new_enrollment_path %></button>

