<div class="container" >
      <div class="pt-10 mx-auto align-middle shadow show" style="width: 500px;">
        <h1 class="mb-5 ">Dados do Matrícula</h1>
        <section class="grid">
          <div><p class="var">Valor Total:</p></div>
          <div><p class="info"><%= @enrollment.total_course_fee %></p></div>
          <div><p class="var">Número de parcelas</p></div>
          <div><p class="info">  <%= @enrollment.number_invoice %></p></div>
          <div><p class="var">Data de Vencimento:</p></div>
          <div><p class="info"><%= @enrollment.expiration_day %></p></div>
          <div><p class="var">Nome do Curso:</p></div>
          <div><p class="info"><%= @enrollment.name_course %></p></div>
          <div><p class="var">Nome do Estudante:</p></div>
          <div><p class="info"><%= @enrollment.student.name %></p></div>
           <div><p class="var">Nome da Instituição:</p></div>
          <div><p class="info"><%= @enrollment.instituion.name %></p></div>
        </section>
        <button type="button" class="btn btn-dark voltar my-5"><%= link_to 'Editar', edit_enrollment_path(@enrollment) %></button>
        <button type="button" class="btn btn-dark voltar my-5"><%= link_to 'Voltar', enrollments_path %></button>
      </div>
      <table class="table table-striped mx-auto w-75 table-active border border-dark pt-10" >
  <thead>
    <tr class="dark">
      <th class="text-center">Valor</th>
      <th class="text-center">Data de Vencimento</th>
      <th class="text-center">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @enrollment.invoices.each do |invoice| %>
      <tr>
        <td class="text-center"><%= invoice.invoice_amount %></td>
        <td class="text-center"><%= invoice.due_data %></td>
        <td class="text-center"><%= invoice.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="fantasma">
</div>