<%= form_with(model: instituion) do |form| %>
  <% if instituion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instituion.errors.count, "error") %> prohibited this instituion from being saved:</h2>

      <ul>
        <% instituion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= @instituion.errors.full_messages.first if @instituion.errors.any? %>
    <div class="d-flex justify-content-center row g-3">
      <div class="col-md-7 col-lg-8">
      <div class="form-check col-12">
            <label class="form-label">Nome:</label>
        <%= form.text_field :name  ,class:"form-control"%><br>
      </div>

        <div class="form-check col-12">
            <label class="form-label">CNPJ:</label>
            <%= form.text_field :cnpj  ,class:"form-control"%><br>
        </div>

    <div class="row g-3">
      <div class="form-check col-md-4">
              <label class="form-label">Tipo de instituição:</label>
              <br>
                 <%= form.select :type_status , ['Creche', 'Escola','Universidade'], class:"input-mini"%>
      </div>
      </div>
            <%= form.submit "Enviar" , class:"btn btn-dark enviar actions"%>
        <% end %>
    
    </div>
</div>

 

