<h1 class="text-center mt-5 mb-5">Instituição</h1>

<table class="table table-striped mx-auto w-75 table-active border border-dark" >
  <thead>
    <tr class="dark">
      <th class="text-center">Nome</th>
      <th class="text-center">CNPJ</th>
      <th class="text-center">Instituição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instituions.each do |instituion| %>
      <tr>
        <td class="text-center"><%= instituion.name %></td>
        <td class="text-center"><%= instituion.cnpj %></td>
        <td class="text-center"><%= instituion.type_status %></td>
        <td class="text-center"><%= link_to 'Show', instituion %></td>
        <td class="text-center"><%= link_to 'Edit', edit_instituion_path(instituion) %></td>
        <td class="text-center"><%= button_to 'Delete', instituion_path(instituion), method: :delete, data: {confirm: "Are you sure?"} , class: "delete"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-dark voltar"><%= link_to 'Criar uma nova Instituição', new_instituion_path %></button>
