<div class="container" >
      <div class="pt-10 mx-auto align-middle shadow show" style="width: 500px;">
        <h1 class="mb-5 ">Dados do Aluno</h1>
        <section class="grid">
          <div><p class="var">Name:</p></div>
          <div><p class="info"><%= @instituion.name %></p></div>
          <div><p class="var">CNPJ:</p></div>
          <div><p class="info"><%= @instituion.cnpj %></p></div>
          <div><p class="var">Instituição:</p></div>
          <div><p class="info"><%= @instituion.type_status %></p></div>
        </section>
        <button type="button" class="btn btn-dark voltar my-5"><%= link_to 'Editar', edit_instituion_path(@instituion) %></button>
        <button type="button" class="btn btn-dark voltar my-5"><%= link_to 'Voltar', instituions_path %></button>
      </div>
</div>
