/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "config/_fonts";
@import "config/_colors";
@import "config/_bootstrap_variables";


@import "bootstrap/scss/bootstrap";
 
body{
    max-width: 99%;
}

.headers{
    font-size: 24px;
    font-style: bold;
}
a{
 text-decoration: none;
 color:rgb(29, 84, 167);
}

a:visited{
    color:rgb(29, 84, 167);
}

a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);

    color: red;
  }

  .dark{
      background-color: black;
      color: white;
  }

  .voltar{
      margin:0 0 0 12.5%;
      padding: 5px 30px 5px 30px;
     
  }

  .voltar a{
    color: white;
    font-style: bold;
  }

#invoice_due_data_1i, #invoice_due_data_2i, #invoice_due_data_3i,#student_birth_date_3i, #student_birth_date_2i, #student_birth_date_1i, #student_gender, #student_payment_method, #instituion_type_status,#invoice_status, #enrollment_instituion_id, #enrollment_student_id{
    height: 38px;
    width: auto;
    min-width: 120px;
    font-size: 18px;
    border: 1px solid #ced4da;
    text-align: center;
    background-color: #ffff;
    border-radius: 0.25rem;
}


#instituion_type_status{
    width: 150px;
}

#student_gender{
    width: 120px;
}

.formulario{
    padding-top: 7%;
    border: 5px solid #2d2e30; 
}

.enviar{
    width: 200px;
    margin:40px 0 36px 16px;
   
}

.pt-10{
   margin-top: 16%;
}

.center{
    padding: 8% 0 4% 0;
    text-align: center;
}

.delete{
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 13px;
    text-decoration: none;
    color: #1d54a7;
}

.grid{
    display: grid;
	grid-template-columns: 3fr 3fr;
}

.info, .var{
    font-size: 18px;
    color:rgb(104, 83, 151);
    font-weight: bold;
}

.var{
    color:rgb(27, 27, 27);
}

.show{
    padding-left: 60px;
    padding-top: 20px;
    background-color: white;
}

.fantasma{
    height: 120px;
}